- cache [@document_count == nil ? 0 : @document_count, @years == nil ? 'years' : @years, params[:search] == nil ? 'search' : params[:search]] do
  %tr.header
    %th.signature= t_attr(:signature, Dossier)
    %th.title= t_attr(:title, Dossier)
    %th.document_count= @document_count ? t('katalog.total_count', :count => number_with_delimiter(@document_count)) : t_attr(:document_count, Dossier)

    - if @years
      -@years.each do |year|
        %th.year= year

    %th.action-links
