/* Style sheet basic */
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,ol,ul,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;vertical-align:top;}
blockquote,q{quotes:none;}
fieldset,img{border:0;}
li{list-style-image:url("../../images/doku-zug.ch/navbullet.gif");}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
a{color:#003d61;}
a:hover{color:#464341;}
:focus{outline:0;}
.mod_breadcrumb a{color:#fff;}
body{font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;font-size:11px;color:#464341;}
#main{font-size:12px;}
input,button,textarea,select{font-family:inherit;font-size:99%;font-weight:inherit;}
pre,code{font-family:"Lucida Console",Monaco,monospace;font-size:12px;}
h1,h2,h3,h4,h5,h6{font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;font-weight:normal;font-size:100%;}
h1{padding-top:0;padding-bottom:0;font-size:22px;color:#003d61;line-height:1.6;text-transform: uppercase;}
#footer h1{color:#C3C4C5;}
h2{font-size:20px;}
h3{font-size:18px;}
table{font-size:inherit;}
caption,th{font-weight:bold;}
abbr,acronym{border-bottom:1px dotted #666;font-variant:normal;cursor:help;}
h1,h2,h3,h4,h5,h6{margin-top:0.75em;}
h1,h2,h3,h4,h5,h6,p,pre,blockquote,table,ol,ul,form{margin-bottom:12px;}
.mtop{margin-top:1em;}
.mbot{margin-bottom:12px;}
.clear{clear:both;}
.externerlink{padding-left:22px;background:url("../../images/doku-zug.ch/link.gif") left top no-repeat;}
.suchknopf{}
#main .layout_full h1{font-size:18px;}
