/* Style sheet layout */
#header{background:url("../../images/doku-zug.ch/headerback.gif") left top repeat-x;}
#footer{background:#F2F3F3 url("../../images/doku-zug.ch/footerback.gif") left top repeat-x;}
#header .inside,#container,#footer .inside{width:954px;margin-right:auto;margin-left:auto;}
#header .inside{z-index:999;}
#main .inside{margin-top:44px;margin-right:26px;padding-right:47px;}
#main .inside,#right .inside{padding-bottom:1em;}
#footer .inside{padding-top:1em;}
#printthis{margin-bottom:11px;text-align:right;}
#topmenu{right:6px;top:6px;position:absolute;}
#topmenu form,#topmenu ul{margin-bottom:0;}
#topmenu li{float:left;padding:12px 9px;}
#topmenu,#topmenu a{text-decoration:none;color:#f6f7f9;}
#topmenu a:hover{text-decoration:underline;}
#topmenu .search{padding:9px;}
#topmenu input.text{width:192px;}
#topmenu input.submit{top:2px;position:relative;vertical-align:top;}
#logo{left:235px;top:2px;position:absolute;}
#such{width:206px;float:left;margin-top:33px;margin-right:22px;padding-top:66px;background:url("../../images/doku-zug.ch/suchen.gif") left top no-repeat;}
#seitenkarte{width:460px;float:left;margin-top:33px;margin-right:22px;padding-top:66px;background:url("../../images/doku-zug.ch/sitemap.gif") left top no-repeat;}
#schnelllinks{width:230px;float:left;margin-top:33px;padding-top:66px;background:url("../../images/doku-zug.ch/quicklinks.gif") left top no-repeat;}
#footer h1{margin-bottom:10px;padding-bottom:3px;border-bottom:1px solid #ccd5dd;font-size:16px;}
#right h2,#footer h2{font-size:14px;}
#footer .mod_newslist{width:58%;float:left;margin-top:0;}
#footer .mod_quicknav,#footer .mod_upcoming_events{width:36%;float:right;}
#footer .mod_newslist,#footer .mod_upcoming_events{margin-bottom:2em;}
#footer .layout_short{margin-top:9px;}
#footer .odd{background:none !important;}
#right .mod_newslist .more,#footer .mod_newslist .more{display:none;}
#copyright{clear:both;padding-top:1em;padding-bottom:1.5em;text-align:right;border-top:1px solid #ccc;font-size:11px;}
*:first-child+html #copyright{padding-top:5px;}
#right h1{padding-left:22px;background:url("../../images/doku-zug.ch/navbullet_over.gif") left center no-repeat;border-top:1px dotted #003d61;border-bottom:1px dotted #003d61;font-weight:normal;font-size:14px;line-height:1.3;}
#right p{color:#003d61;}
#right .layout_full{margin-bottom:14px;border-bottom:1px dotted #003d61;}
#right{margin-top:60px;}
