%tr[dossier]{:class => cycle('odd', 'even')}
  %td= dossier.signature
  %td= dossier.title
  - @years.each do |year|
    %td
      - if number = dossier.dossier_number_from_year(year)
        %input.number{:tabindex => @tabindex,
                      :type => 'text',
                      :value => number.amount == 0 ? '' : number.amount,
                      :size => 3,
                      :data => {:number_id => number.id}}
      - else
        %input.number{:tabindex => @tabindex,
                      :type => 'text',
                      :size => 3,
                      :data => {:dossier_id => dossier.id,
                                :year => year}}
      - @tabindex += 1
