# Rails
# =====
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

# Passenger
tmp/restart.txt

# Vendor
vendor/cache
vendor/bundle

# Volatile
doc/api
doc/app
public/stylesheets/all.css

# Local
config/database.yml
config/application.yml
config/deploy/production.rb
config/deploy/staging.rb

# Plugins
# =======
# compass
public/stylesheets/compiled

# Application
# ===========
data

# Sphinx Freetext Search
db/sphinx
config/*.sphinx.conf
config/sphinx/
config/initializers/mail.rb

# Aspell
db/aspell/aspell.de_CH.pws
