# Boring files
# ============
*~
.#*
DEADJOE

# Rails
# =====
.bundle
db/*.sqlite3
log/
tmp/**/*
tmp/restart.txt

# Vendor
vendor/cache
vendor/bundle

# Volatile
doc/api

# Local
config/database.yml

# Development
# ===========
# RVM
.rvmrc

# Rubymine
.idea

# Plugins
# =======
# compass
public/stylesheets/compiled

# Application
# ===========
data

# Sphinx Freetext Search
db/sphinx
config/*.sphinx.conf
config/sphinx/
