// Hide some elements
#edit_report_header
  display: none

#edit_report table
  border: none
  margin: 0px
  page-break-inside: auto
  tr
    border-bottom: 1px solid black
    page-break-inside: avoid
    page-break-after: auto
  thead
    display: table-header-group

  input, select
    border:     none
    background: transparent

  select.dossier_numbers_year
    font-size:  12px
    text-align: right
