//
a.linkified_container
  text-decoration: none

// Contextual
.contextual
  float: right
  margin: 1em

// Icons
.icon
  font-size: 12px

+icon-class('pdf')
+icon-class('new')

+icon-text('availability_ready')
+icon-text('availability_wait')
+icon-text('availability_intern')

.index
  .landscape-table
    overflow: auto

  .year
    text-align: right

  th.year
    font-size: 8px

.report
  td
    font-size: 8px
  .title
    width: 450px

.report.overview
  th.action-links
    display: none
