#insert_relation
  padding-left: 20px
  background: url(/images/16x16/add.png) no-repeat top left

#dossier_submit,
#location_submit,
#container_type_submit,
#topic_submit
  +fancy_button(#00669C)

// CKEditor
#cke_dossier_description,
#cke_visitor_log_content
  float: right

span.cke_skin_kama
  border: 0

#description
  ul,
  ol
    margin-left: 17px

#waiting-list
  margin:
    bottom: 25px
  float: left
  li
    width: 33%
    list-style-image: none
    float: left
    display: block

.waiting-time
  color: red
  float: left
  display: block
  width: 100%
  
#show-key-words-link,
#hide-key-words-link
  margin-top: 2px
  
#dossier_relation_list,
#relation_list_auto_completion
  float: right
  margin-right: 6px

