#insert_relation
  padding-left: 20px
  background: url(/images/16x16/add.png) no-repeat top left

#dossier_submit,
#location_submit,
#container_type_submit,
#topic_submit
  +fancy_button(#00669C)

// CKEditor
#cke_dossier_description_editor,
#cke_visitor_log_content_editor
  float: right

span.cke_skin_kama
  border: 0

#description
  ul,
  ol
    margin-left: 17px

#waiting-list
  margin:
    bottom: 25px
  float: left
  li
    width: 33%
    list-style-image: none
    float: left
    display: block

.waiting-time
  color: red
  float: left
  display: block
  width: 100%