#page_actions
  ul
    margin-bottom: 0
    li
      list-style: none
    ul
      display: none
      background-color: white
      margin-top: 0.5em
      padding: 5px 5px 0px 5px
      li
        padding-bottom: 5px
#report_actions
  position: absolute
  z-index: 1
  display: block
  margin-left: -60px
  a
    display: block
    text-decoration: none