#page_actions
  ul
    margin-bottom: 0
    li
      list-style: none
    ul
      display: none
#report_actions
  position: absolute
  z-index: 1
  display: block
  margin-left: -60px
  a
    display: block