@import "compass/css3/border-radius"

$dark_blue = #00669C

#search_tips
  float: left
  display: inline
  width: 30%
  h2
    margin: 0 0 2px 0
    padding: 0 0 2px 0
    border-bottom: 1px solid $dark_blue
    font-size: 14px
    font-weight: bold

#search_tips_border
  border: 1px solid $dark_blue
  +border-radius
  padding: 3px 6px
    
#search_form
  width: 70%
  float: left