#version-information,
#versions ul
  label
    display: block
    width: 150px
    float: left
  .content
    display: block
    float: left
  li
    list-style-image: none
    list-style: none
    float: left
    width: 100%

#version-information
  width: 50%

#version-left-side,
#version-right-side
  display: block
  width: 50%
  float: left
  margin-bottom: 20px

#versions
  float: left