#version-information,
#versions-top ul,
#versions-bottom ul
  label
    display: block
    width: 150px
    float: left
  .content
    display: block
    float: left
  li
    list-style-image: none
    list-style: none
    float: left
    width: 100%
    margin-bottom: 10px

#version-information
  width: 50%

#version-left-side,
#version-right-side
  display: block
  width: 50%
  float: left

#versions-top,
#versions-bottom
  float: left

#versions-bottom
  width: 100%
  margin-bottom: 20px