.unchanged
  display: none
.changed
  background-color: $version_changed
.added td.current
  background-color: $version_added
.removed td.current
  background-color: $version_removed

#versions-bottom
  .previous,
  .current
    ul
      margin:
        left: 16px