<%
  relations = @dossier.related_to.split(';').compact
  relations.map!{|relation| relation.strip}
%>
<ul>
  <% for relation in relations %>
    <li><%= link_to relation, search_dossiers_url(:search => {:text => relation}) %></li>
  <% end %>
</ul>
