$margin-left: 10px

#welcome-overview
  margin:
    top: 2em
  float: left
  li
    float: left
    list-style: none
    width: 330px
    height: 100px
    display: block
    background:
      image: url('http://www.doku-zug.ch/tl_files/layout/box-gruen.jpg')
      position: -130px -2px
    margin:
      bottom: 25px
      right: 25px
    font-size: 10px
    img
      width: 100px
      height: 100px
      border: none
      float: left
    h1,
    h2
      font-size: 12px
      margin:
        top: 5px
        left: $margin-left
        bottom: 3px
      width: 215px
      float: left
      font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif
    h1
      height: 6.09em
      line-height: 1.1em
      text-decoration: none
      font:
        weight: bold
        size: 12px
      overflow: hidden
    h2
      margin:
        top: 0px
    h2,
    a
      font-size: 10px
      margin:
        left: $margin-left
      text-decoration: none
    a.dossiers
      display: inline-block
      overflow: hidden
      width: 195px
      height: 1.3em
      float: left
    