- cache item do
  %tr{:class => cycle('odd', 'even')}
    - @attributes.each do |field|
      %td= item.send(field) if item.respond_to?(field)
    %td.action-links
      =link_to image_tag('icons/show.png', :title => t_action(:show)), resource_url(item), 'data-href-container' => 'tr'
      =link_to image_tag('icons/edit.png', :title => t_action(:edit)), edit_resource_url(item) if can?(:edit, item)
      =link_to image_tag('icons/delete.png', :title => t_action(:delete)), resource_url(item), :confirm => t_confirm_delete(item), :method => :delete if can?(:delete, item)
