- @attributes ||= controller.attributes if controller.respond_to?(:attributes)
- @attributes ||= collection.first.attribute_names - ['id', 'created_at', 'updated_at']
= paginated_section collection do
  .ce_table.block
    %table.list{:id => resource_class.to_s.underscore + '_list'}
      %thead
        %tr
          - @attributes.each do |field|
            %th= t_attr field, resource_class
          %th

      %tbody
        = render :partial => 'item', :collection => collection
