/* Hide forms, actions, and navigation */
#search_form {
  display: none;
}

#page_actions {
  display: none;
}

.action-links {
  display: none;
}

.digg_pagination {
  display: none;
}

/* Layout */
body {
  width: 100%;
  padding-left: 1.4cm;
  padding-right: 1.4cm;
}

#wrapper, #container, #main, #inside, #dossiers {
  margin: 0;
  width: 100%;
}

#main .inside {
  padding-right: 0;
}

/* Media adaption */
a {
  text-decoration: none;
}

.match {
  color: #000000;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

.ce_table td, .ce_table th {
  border: 0;
}

td {
  padding:6px;
}


tr {page-break-inside: avoid;}

/* Katalog specific */
#dossiers table {
  width: 100%;
  border: 0;
}

#dossiers .availability {
  display:none;
}
