/** Layout fixes **/
#header .inside,#container,#footer .inside{width:92%;margin-right:auto;margin-left:auto;}

/** Lists **/
.topic .title {font-weight: bold;}
.dossier .title {font-weight: bold;}
.dossier .keywords {font-style: italic; font-size: 80%;}

tr.topic.group td { background-color: #96B1CD; }
tr.topic.main td { background-color: #E1E6EC; }
tr.topic.geo td { background-color: #C8B7B7; }
tr.topic.detail td { background-color: #E9DDAF; }

td.action-links {
}

th.action-links {
  width: 40px;
}

/** Index **/
.index th {
  border: 0;
}

.index th span.document_count {
  float: right
}

.index tr.topic td {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0;
  font-size: 85%;
}
.index tr.topic.group td {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  font-size: 100%;
}

.report tr td {
  border: 0;
  font-size: 85%;
}

/** Sidebar Topic Index **/
li.topic.group {
  font-weight: bold;
}

li.topic.group .signature {
  float: left;
  width: 1.2em;
}

li.topic.group a {
  margin-left: 1.5em;
  display: block;
  text-decoration: none;
}

li.topic.main .signature {
  margin-left: 1.5em;
  float: left;
  width: 1.2em;
}

li.topic.main a {
  margin-left: 3em; display: block;
  text-decoration: none;
}

/** Tag Cloud **/
.tag_cloud {font-size: 80%; text-decoration: none;}
.tag_cloud a {text-decoration: none;}

.nube1 {font-size: 1.6em;}
.nube2 {font-size: 1.8em;}
.nube3 {font-size: 2.0em;}
.nube4 {font-size: 2.2em;}
.nube5 {font-size: 2.4em;}
.nube6 {font-size: 2.6em;}

/** Dossier View **/
.section {
  margin-left: 1.5em;
}

#description {
  margin-left: 1.3em;
}

.document_counts {
  width: 100%;
}

.dossier_topic_breadcrumb li {
  list-style: none;
}

#keyword-list, #relation-list {
  margin-left: 1.4em;
}

/** Keywords **/
td .keywords li, .tags li{
  display: inline;
}

/** Document Counts **/
table.document_counts th {
  text-align: right;
}
table.document_counts td {
  text-align: right;
}

td.document_count {
  text-align: right;
}

td.availability {
  width: 5em
}

/** Search **/
.match {
  font-weight: bold;
  color: #68b068;
}

/** Forms **/
.inline-hints {
  font-style: italic;
}
