<h1><%= t('controllers.index.keyword') %></h1>

<%= paginated_section do %>
<div class="ce_table block">
<table>
  <tr>
    <th><%= t_attr('keyword', Dossier) %></th>
  </tr>
  <%= render :partial => 'keyword', :collection => @index %>
</table>
</div>
<% end %>
