#page_actions.contextual
  %ul#report_actions
    %li
      %a{:href => '#'}
        Reports
      %ul
        - Report.all.each do |report|
          %li
            = link_to report.title, report_dossiers_path(:report_name => report.name, :search => params[:search])
  = contextual_link('pdf', url_for(params.merge(:format => :pdf)), :title => t('tooltips.dossiers.show_pdf'))
  = contextual_link('excel', url_for(params.merge(:format => :xls)), :title => t('tooltips.dossiers.save_as_excel'))
