#page_actions.contextual
  %ul#report_actions
    %li
      %a{:href => '#'}
        Reports
      %ul
        - Report.all.each do |report|
          %li
            = link_to report.title, report_dossiers_path(:report_name => report.name)
  = contextual_link('pdf', url_for(params.merge(:only_path => false, :format => :pdf)), :title => t('tooltips.dossiers.show_pdf'))

