#page_actions.contextual
  - if user_signed_in? or Report.find_by_public(true)
    %ul#report_actions
      %li
        %a{:href => '#'}
          Reports
        %ul
          - Report.all.each do |report|
            - if user_signed_in? or report.public?
              %li
                = link_to report.title, report_dossiers_path(:report_name => report.name, :search => params[:search])

  = contextual_link('pdf', url_for(params.merge(:format => :pdf)), :title => t('tooltips.dossiers.show_pdf'))
  - if user_signed_in?
    = contextual_link('excel', url_for(params.merge(:format => :xls, :per_page => 'all')), :title => t('tooltips.dossiers.save_as_excel'))
