- cache :public_footer do
  #such
    %h1 Öffnungszeiten
    .ce_text.block
      %p
        %strong Mo, Di, Mi, Fr
        = succeed "10-18" do
          %br/
        Uhr
      %p
        %span
          %strong Donnerstag
          = succeed "10-20" do
            %br/
          Uhr
  #seitenkarte
    .ce_text.block
      %h1 Kontakt
      %p
        %span doku-zug.ch
        %br/
        %span St.Oswaldsgasse 16
        %br/
        %span Postfach 1146
        %br/
        %span 6301 Zug
        %br/
        %br/
        %span Telefon 041 726 81 81
        %br/
        %a{:href => "mailto:info@doku-zug.ch"} info@doku-zug.ch
        %br/
        %br/
        %a{:href => "http://www.doku-zug.ch/impressum.html"} Impressum
  .clear
  #fusskataloge
    .ce_text.block
      %h1 Kataloge
      %p
        %a{:href => "http://katalog.doku-zug.ch/", :onclick => "window.open(this.href);return false", :title => "Dossierkatalog doku-zug.ch"} Suche Dossierkatalog
      %p
        %a{:href => "http://www.winmedio.net/doku-zug/", :onclick => "window.open(this.href);return false", :title => "Bücherkatalog doku-zug.ch"} Suche Bücherkatalog
  #schnelllinks
    .ce_text.block
      %h1 Quicklinks
      %p
        %a{:href => "http://www.hls-dhs-dss.ch/"} Historisches Lexikon der Schweiz
      %p
        %a{:href => "http://www.admin.ch/"} Schweizerische Eidgenossenschaft
      %p
        %a{:href => "http://www.bibliothekenzug.ch/"} Stadt- und Kantonsbibliothek Zug
