<div id="logo">
  <a href="http://www.doku-zug.ch" title="doku-zug.ch - Öffentliches Dokumentationszentrum"><%= image_tag "doku-zug.ch/logo.gif", :alt => "doku-zug.ch - Öffentliches Dokumentationszentrum" %></a>
</div>
<div class="mod_breadcrumb block">
  <a href="http://doku-zug.ch.gutenberg.ch-meta.net/" title="doku-zug.ch">doku-zug.ch</a> &#62; 
  <span class="active">Katalog</span>
</div>
