.ce_text
  %p.tag_cloud
    - unless @tags
      - @tags = Tag.filter_tags
      - @tags = @tags.by_signature(@dossiers.first.signature) if params[:search] && params[:search][:text] && @dossiers.present?
      - @tags = @tags.where('dossiers.intern' => false) unless can?(:index, Dossier, :internal => true)
      - tags = @tags.sample(18)
    - tag_cloud(tags, %w(nube1 nube2 nube3 nube4 nube5 nube6)) do |tag, css_class|
      = link_to_tag_filter tag.name, :class => css_class
