<% cache [:tag_cloud, @query, @dossier] do %>
<div class="ce_text">
  <p class="tag_cloud">
  <%
    unless @tags
      @tags = Tag.filter_tags.by_signature(@query)
      @tags = @tag.where('dossiers.intern' => false) unless can?(:index, Dossier, :internal => true)
    end
  %>
  <% tag_cloud(@tags, %w(nube1 nube2 nube3 nube4 nube5 nube6)) do |tag, css_class| %>
      <%= link_to_keyword tag.name, :class => css_class %>
    <% end %>
  </p>
</div>
<% end %>
