- cache params[:search] ? "topic_index_#{params[:search][:signature]}" : 'topic_index' do
  .ce_text
    %p.topic_index
      %ul
        = render :partial => 'shared/topic', :collection =>  Topic.group.all
