<% cache params[:search] ? "topic_index_#{params[:search][:signature]}" : 'topic_index' do %>
<div class="ce_text">
  <p class="topic_index">
    <ul>
      <%= render :partial => 'shared/topic', :collection =>  Topic.group.all %>
    </ul>
  </p>
</div>
<% end %>
