- cache [params[:search] ? "topic_index_#{params[:search][:signature]}" : 'topic_index', @dossier ? "topic_index_dossier_#{@dossier.id}" : ""] do
  .ce_text
    %p.topic_index
      %ul#topic_index
        = render :partial => 'shared/topic', :collection =>  Topic.group.all
