<tr class="container">
  <td class="container_title"><%= container.text_field :title, :style => 'width: 98%' %></td>
  <td class="type_code"><%= container.text_field :container_type_code, :size => '2' %></td>
  <td class="location_code"><%= container.text_field :location_code, :size => '2' %></td>
  <td class="remove_link"><%= remove_link_unless_new_record(container) %></td>
</tr>
