%tr
  %th= t_attr(:period, Container)
  %th{:style => "width: 4em"}= t_attr(:container_type, Container)
  %th{:style => "width: 2em"}= t_attr(:location, Container)
  - if defined?(form_helper)
    %th.action-links
      = link_to image_tag('icons/add.png'), new_dossier_container_path(@dossier), id: 'add_record_link'
