%tr
  %th= t_attr(:period, Container)
  %th{:style => "width: 4em"}= t_attr(:container_type, Container)
  %th{:style => "width: 2em"}= t_attr(:location, Container)
  - if defined?(form_helper)
    %th.action-links
      = link_to_add_association image_tag('icons/add.png'), form_helper, :containers, id: 'add_new_container'
