%tr[dossier]
  %th= dossier.signature
  %th= dossier.title

- reset_cycle

- dossier.containers.group_by{|c| [c.container_type.code, c.location.code]}.each do |container|
  %tr{:class => cycle('even', 'odd')}
    %td= container.first.join('@')
    %td= container.last.map(&:period).join(' | ')
