# Copy this file to config/application.yml and adapt for your needs.

defaults: &defaults
  google_analytics:
    api_key:
  airbrake:
    api_key:
  mail:
    sender: info@example.com

development:
  <<: *defaults

test:
  <<: *defaults
