development:
  adapter: mysql
  encoding: utf8
  database: katalog_development
  username: katalog
  password: 
  socket:   /var/run/mysqld/mysqld.sock

test:
  encoding: utf8
  adapter: mysql
  database: katalog_test
  username: katalog
  password:
  socket:   /var/run/mysqld/mysqld.sock

production:
  encoding: utf8
  adapter: mysql
  database: katalog_production
  username: katalog
  password:
  socket:   /var/run/mysqld/mysqld.sock
