development:
  adapter: mysql2
  encoding: utf8
  database: katalog_development
  username: katalog
  password: 
  socket:   /var/run/mysqld/mysqld.sock

test:
  encoding: utf8
  adapter: mysql2
  database: katalog_test
  username: katalog
  password:
  socket:   /var/run/mysqld/mysqld.sock

production:
  encoding: utf8
  adapter: mysql2
  database: katalog_production
  username: katalog
  password:
  socket:   /var/run/mysqld/mysqld.sock

import:
  encoding: utf8
  adapter: mysql2
  database: katalog_import
  username: katalog
  password:
  socket:   /var/run/mysqld/mysqld.sock
