%ul
  - if object
    - object.attributes.except('id', 'created_at', 'updated_at').each do |key, value|
      %li
        %label
          = t_attr(key, object.class)
        .content
          = value
  - else
    %li
      = t('katalog.versions.was_deleted')