#dossiers #dossier_numbers_year
  display: none

#dossiers
  margin-top: 0
  margin-bottom: 0
  .dossier
    td
      padding: 0
      padding-left: 6px

    .dossier-last-container-title
      border: none
      border-bottom: 1px solid black
      color: white
      margin-bottom: 1px

    &.odd .dossier-last-container-title
      color: #F6F7F9
      background-color: #F6F7F9

h1#edit_report_title,
#dossier_numbers_year_amount,
#dossier_numbers_year_amount_label
  display: none

#edit_report table
  border: none
  margin: 0px
  page-break-inside: auto
  tr
    border-bottom: 1px solid black
    page-break-inside: avoid
    page-break-after: auto
  input
    border: none
    background: none
  thead
    display: table-header-group
