%tr[dossier]{:class => cycle('odd', 'even')}
  %td= dossier.signature
  %td
    %span.title
      = dossier.title
  - @years.each do |year|
    %td
      - if number = dossier.dossier_number_from_year(year)
        %input.dossier-last-container-title{:tabindex => @tabindex, 'data-dossier' => dossier.id, 'data-number' => number.id, :type => 'text', :value => number.amount}
      - else
        %input.dossier-last-container-title{:tabindex => @tabindex, 'data-dossier' => dossier.id, 'data-number-year' => year, :type => 'text', :value => 0}
      - @tabindex += 1
