%tr[dossier]{:class => cycle('odd', 'even')}
  %td= dossier.signature
  %td= dossier.title
  - @years.each do |year|
    %td
      - if number = dossier.dossier_number_from_year(year)
        %input.dossier-last-container-title{:tabindex => @tabindex,
                                            :type => 'text',
                                            :value => number.amount,
                                            :size => 3,
                                            :data => {:dossier => dossier.id,
                                                      :number => number.id}}
      - else
        %input.dossier-last-container-title{:tabindex => @tabindex,
                                            :type => 'text',
                                            :size => 3,
                                            :data => {:dossier => dossier.id,
                                                      :number => {:year => year}}}
      - @tabindex += 1
