%tr.header
  %th.signature= t_attr(:signature, Dossier)
  %th.title
    = t_attr(:title, Dossier)
  %th.year
    = select 'dossier_numbers', 'year', DossierNumber.default_periods.collect {|d| [ d[:from], d[:from] ] }, {:selected => Date.new(Time.now.year, 1, 1), :include_blank => false}
