%thead
  %tr.header
    %th.signature= t_attr(:signature, Dossier)
    %th.title= t_attr(:title, Dossier)
    - @years.each do |year|
      %th.year
        = select 'dossier_numbers_year', year, default_periods_collection, {:selected => year, :include_blank => false, :size => 5}, :class => 'dossier_numbers_year'
