%thead
  %tr
    %th= t_attr(:signature, Dossier)
    %th= t_attr(:title, Dossier)
    - @years.each do |year|
      %th.number
        = select_tag 'edit_report[years][]', options_for_select(default_periods_collection, :selected => year), :class => 'dossier_numbers_year'
