    <li id="keyword-<%= keyword.id %>">
      <%= @keyword = keyword; in_place_editor_field :keyword, :name, {}, :url => set_name_dossier_keyword_path(@dossier, @keyword) %>
      <%= link_to image_tag('icons/delete.png', :title => ('delete')), dossier_keyword_path(@dossier, keyword), :confirm => t_confirm_delete(keyword), :remote => true, :method => :delete %>
    </li>
