<% cache :public_footer %>
<div id="such">
  <form action="suchergebnis.html" method="get">
    <div><input type="text" name="keywords" class="text" value="" /><input type="image" src="<%= image_path('doku-zug.ch/search2.png') %>" alt="Suche" class="submit" /></div>
  </form>
</div>

<div class="mod_customnav block" id="seitenkarte">
  <a href="#skipNavigation20" class="invisible">Navigation überspringen</a>
  <ul class="level_1">
    <li class="first"><a href="team.html" title="Über uns" class="first">Über uns</a></li>
    <li><a href="http://www.doku-zug.ch/team.html" title="Team">Team</a></li>
    <li><a href="http://www.doku-zug.ch/leitbild.html" title="Leitbild">Leitbild</a></li>
    <li><a href="http://www.doku-zug.ch/geschichte.html" title="Geschichte">Geschichte</a></li>
    <li><a href="http://www.doku-zug.ch/archiv-bibliothek.html" title="Unser Angebot">Unser Angebot</a></li>
    <li><a href="http://www.doku-zug.ch/archiv-bibliothek.html" title="Archiv, Bibliothek">Archiv, Bibliothek</a></li>
    <li><a href="http://www.doku-zug.ch/publikationen.html" title="Publikationen">Publikationen</a></li>
    <li><a href="http://www.doku-zug.ch/kataloge.html" title="Kataloge">Kataloge</a></li>
    <li><a href="http://www.doku-zug.ch/aktuell.html" title="News">News</a></li>
    <li><a href="http://www.doku-zug.ch/aktuell.html" title="Aktuell">Aktuell</a></li>
    <li><a href="http://www.doku-zug.ch/thema-der-woche.html" title="Thema der Woche">Thema der Woche</a></li>
    <li><a href="http://www.doku-zug.ch/neue-buecher.html" title="Neue Bücher">Neue Bücher</a></li>
    <li><a href="http://www.doku-zug.ch/kontakt.html" title="Kontakt">Kontakt</a></li>
    <li><a href="http://www.doku-zug.ch/links.html" title="Links">Links</a></li>
    <li class="last"><a href="http://www.doku-zug.ch/newsletter.html" title="Newsletter" class="last">Newsletter</a></li>
  </ul>
  <a name="skipNavigation20" id="skipNavigation20" class="invisible">&nbsp;</a>
</div>

<div id="schnelllinks">
  <div class="ce_text block">
    <p>
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bibliothekenzug.ch">Stadt- und Kantonsbibliothek Zug</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.zug.ch/staatsarchiv">Staatsarchiv des Kantons Zug</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.afz.ethz.ch">Archiv für Zeitgeschichte Zürich</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.sozialarchiv.ch">Schweizerisches Sozialarchiv</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.ub.unibas.ch/wwz-bibliothek-swa/schweiz-wirtschaftsarchiv/allgemeines/">Schweizerisches Wirtschaftsarchiv</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.vsa-aas.org">Verein Schweizerischer ArchivarInnen</a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bis.info">Bibliothek Information Schweiz</a>
    </p>
  </div>
</div>
<% end %>
