<li class="<%= topic.topic_type %>">
  <span class="signature"><%= topic.signature %></span>
  <%= link_to(topic.title, url_for_topic(topic)) %>

  <%= render :partial => 'layouts/topic', :collection => topic.children.where("char_length(signature) = 2") if params[:search] and params[:search][:signature] and params[:search][:signature].starts_with?(topic.signature) %>
</li>
