<div class="ce_text">
  <p class="topic_index">
    <ul>
      <% for topic in TopicGroup.all %>
        <li class="topic_group">
          <span class="signature"><%= topic.signature %></span>
          <%= link_to(topic.title, url_for_topic(topic)) %>
        </li>
      <% end %>
    </ul>
  </p>
</div>
