<li class="<%= topic.class.name.underscore %>">
  <span class="signature"><%= topic.signature %></span>
  <%= link_to(topic.title, url_for_topic(topic)) %>

  <%= render :partial => 'layouts/topic', :collection => topic.children.where(:type => 'Topic') %>
</li>
